.Track {
  display: flex;
  align-items: center;
  background-color: #cac7bc;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  padding: .5rem;
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Track-information h3 {
  margin-bottom: .22rem;
  text-align: left;
  font-size: 0.8rem;
  padding-bottom: 0;
  color:  #03000a;
}

.Track-information p {
  font-size: .73rem;
  font-weight: 300;
  color: #fff;
  text-align: left;
}