/* black #03000a  */
/* yellow #f7c40a*/
/* gray #cac7bc */
/* blue #465d80 */


body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 1rem;
  text-align: left;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
}

h1 .highlight {
  color: #03000a;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #cac7bc;
  align-items: center;
}

.App {
  min-height: 75vh;
  padding: 3rem 10% 10% 10%;
  /* background-image: url('./background_photo_desktop.jpg'); */
  background-color: #cac7bc;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }

  .Header-container {
    flex-direction: column;

  }
}