.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0;
  margin-bottom: 0;
  padding:  1rem;
}

.SearchBar input {
  width: 287px;
  padding: .7rem 0;
  color: #010c3f;
  text-align: center;
  font-size: 0.8rem;
  border:  3px solid #fff;

}

.SearchBar input:focus {
  outline: none;
}

.SearchBar a {
  cursor: pointer;
  width: 8.11rem;
  padding: 0.78rem 0; 
  /* border-radius: 54px; */
  color: #fff;
  background-color: #03000a;
  border:  3px solid #03000a;
  text-align: center;
  font-size: .833rem;
  transition: all .25s ease;
  font-family: 'Black Han Sans', sans-serif;
}

.SearchBar a:hover,
 .SearchBar a:focus{
    background-color: #a29e8f;
    border-color: #a29e8f;
    color: #fff;  
}

.InputAddOn {
  display: flex;
}

.InputAddOn-field {
  flex: 1;
}

.InputAddOn-item {

}

@media (max-width: 480px) {
  .SearchBar input {
    width:  190px;
  }

  .SearchBar a {
    width:  6rem;
  }

}

