.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37%;
  padding: 2rem;
  background-color: #fff;
}

h3 {
  color:   #465d80;
  font-size: 1.4rem;
  
}

.Playlist input {
  width: 85%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-size: 0.8rem;
  color: #03000a;
  padding: 0.58rem;
  margin-bottom: 1rem;
}

.Playlist-save {
  cursor: pointer;
  width: 95%;
  padding: 0.78rem 0; 
  /* border-radius: 54px; */
  color: #fff;
  background-color: #03000a;
  border:  3px solid #03000a;
  text-align: center;
  font-size: .833rem;
  transition: all .25s ease;
  margin: 1rem 0 .5rem;
}

.Playlist-save:hover {
  background-color: #cac7bc;
  border-color:  #cac7bc;
  color:  #03000a;  
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}